Repository davidhuszarik/WEBTE2-FINAL-SLIDO, pull requests merged in 2024-05, with the labels that each got.

#22 Refactored login and register into services
  src/backend/controllers/AuthController.php
  src/backend/loader.php
  src/backend/repositories/UserRepository.php
  src/backend/routing.php
  src/backend/services/LoginService.php
  src/backend/services/RegisterService.php
Labels: backend

#24 Question service
  src/backend/repositories/OptionRepository.php
  src/backend/repositories/QuestionRepository.php
  src/backend/services/QuestionService.php
Labels: backend

#25 Please pull database fix
  .database/final.sql
Labels: bug, backend

#27 Add DELETE AJAX call to logout process
  src/backend/views/login.php
  src/backend/views/register.php
  src/index.php
Labels: frontend
